@use "../../assets/sass/variables" as *;

button {
    border-radius: 0.375rem;
    background-color: $button-primary;
    width: 2rem;
    height: 2rem;
    color: $color-background;
    margin: 0.5rem;
}