@use "../../assets/sass/variables" as *;

button {
    border-radius: 0.375rem;
    background-color: $button-primary;
    width: 2rem;
    height: 2rem;
    background-color: $color-foreground;
    border-color: $color-foreground;
    margin: 0.5rem;
    color: $color-background;
    font-weight: 900;
}