@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

// fonts
$primary: 'Kanit', sans-serif;

// background colors
$color-background: #f3f3f3;
$color-foreground: #468410;

// text colors
$color-primary: #3b4cca;
$color-secondary: #ff9d00;

// button colors
$button-primary: palevioletred;
$button-secondary: palegreen;